<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <!-- logo div-->
    <div class="input-append span12 animated fadeInDown">
      <a class="navbar-brand">
        <img src="/assets/logo.png" width="130" alt="">
      </a>
    </div>
    <!-- logo div ends -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto animated fadeIn">

        <li class="ml-5">
          <a routerLink="add-movie">Add Application</a>
        </li>

      </ul>
    </div>
  </div>
</nav>